.container {
   position: relative;
   display: inline-block;
   .textWrapper {
      position: absolute;
      top: 22%;
      left: 9%;
      max-width: 40%;
      color: white;
      h1 {
         font-size: 3vw;
         font-weight: 700;
         margin-bottom: 8px;
      }
      h3 {
         font-size: 1.2vw;
         font-weight: 700;
      }
   }

   .heroImage {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: bottom;
      display: block;
   }
}

