.wrapper {
   margin-top: 24px;
   .row {
      display: flex;
      align-items: center;
      margin-top: 8px;
      flex-wrap: wrap;
   }
   p,
   h3 {
      margin-right: 8px;
   }
   p {
      color: #6b6b6b;
      font-size: 14px;
   }
}
